body {
    background-color: #f2e9e1;
}

header, nav, ul, li, p, div {
    color: #31748f;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
}

nav ul, li {
    display: flex;
    padding: 5px;
}


ul, a {
    list-style-type: none;
    text-decoration: none;
}


header a:visited {
    color: #eb6f92;
}

header a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
}

.styled {
    display: flex;
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    text-align: top;
}

