body {
    background-color: #f2e9e1;
}

header, footer, nav, ul, li, p, div {
    color: #31748f;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
}

nav ul, li {
    display: flex;
    padding: 5px;
}


ul, a {
    list-style-type: none;
    text-decoration: none;
}


a:visited {
    color: #eb6f92;
}

a:hover {
    text-decoration: underline;
}

footer {
    display: flex;
    width: 100%;
    position: absolute;
    bottom: 0px;
    justify-content: center;
}

footer p {
    display: flex;
    justify-content: center;
}


.styled {
    display: flex;
    position: relative;
    width: 100%;
    border: none;
    background-color:#f2e9e1;
    margin: 5px;
    left: 300px;
}

.slided-bar {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

label, textarea {
    letter-spacing: 1px;
}
.text-box {
    display: flex;
    justify-content: center;
}

textarea {
    display: flex;
    max-width: 100%;
    border: none;
    background-color: #fffaf3;
}

label {
    display: flex;
}

label ul,li {
    display: inline-block;
}