body {
    background-color: #f2e9e1;
}

header {
    display: flex;
    justify-content: flex-end;
    flex-flow: wrap;
}

header ul, li {
    display: flex;
    padding: 5px;
}


ul, a {
    list-style-type: none;
    text-decoration: none;
}


header a:visited {
    color: #eb6f92;
}

header a:hover {
    text-decoration: underline;
}

footer {
    text-align: center;
}